<div class="layout-topbar">
  <mat-toolbar color="primary">
    <mat-toolbar-row>

      <div *ngFor="let item of items">
        <button mat-button routerLink="/{{item.path}}" [matMenuTriggerFor]="subMenu.childMenu">
          <mat-icon *ngIf="item.displayIcon">{{item.displayIcon}}</mat-icon> {{item.displayText}}
        </button>
        <navbar-item #subMenu [items]="item.children"></navbar-item>

      </div>
    </mat-toolbar-row>
  </mat-toolbar>

  <div class="container-fluid">
    <router-outlet></router-outlet>
  </div>
</div>
