<div class="layout-sidebar">

  <mat-sidenav-container autosize>
    <mat-sidenav #sidenav mode="side" opened [ngClass]="viewState">
      <div class="sidenav-header"></div>
      <hr />
      <mat-nav-list>
        <!-- need to figure out how to make [matMenuTriggerFor] directive conditional ? -->
        <mat-list-item *ngFor="let item of items">
          <div *ngIf="item.navItems != null">
            <button mat-menu-item routerLink="/{{item.path}}" [matMenuTriggerFor]="subMenu.childMenu">
              <mat-icon *ngIf="item.iconName">{{item.iconName}}</mat-icon>
              <span class="sidebar-displayname">{{item.displayName}}</span>
            </button>
            <navbar-item #subMenu [items]="item.navItems"></navbar-item>
          </div>
          <div *ngIf="item.navItems == null">
            <button mat-menu-item routerLink="/{{item.path}}" >
              <mat-icon *ngIf="item.iconName">{{item.iconName}}</mat-icon>
              <span class="sidebar-displayname">{{item.displayName}}</span>
            </button>
          </div>
        </mat-list-item>
      </mat-nav-list>

    </mat-sidenav>

    <mat-sidenav-content measureScrollOffset="left">
      <div class="layout-sidebar-header">
        <button class="btn-toggle" mat-flat-button color="primary" (click)="toggleSidenav($event, sidenav)"><mat-icon>menu</mat-icon></button>
      </div>

      <div class="container-fluid layout-sidebar-content">
        <router-outlet></router-outlet>
      </div>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
