<div class="layout-sidebar">
  <mat-sidenav-container autosize>
    <mat-sidenav #sidenav mode="side" opened [ngClass]="viewState">
      <div class="sidenav-header"></div>
      <hr />
      <mat-nav-list>

        <!-- need to figure out how to make [matMenuTriggerFor] directive conditional ? -->
        <div class="nav-list-group" *ngFor="let group of navItemGroups">
          <div class="group-header">
            <span class="group-header-title">{{group.displayName}}</span>
            <hr />
          </div>

          <mat-list-item *ngFor="let item of group.navItems">
          <div *ngIf="item.navItems != null">
            <button mat-menu-item [matMenuTriggerFor]="subMenu.childMenu">
              <mat-icon *ngIf="item.iconName">{{item.iconName}}</mat-icon>
              <span class="sidebar-displayname">{{item.displayName}}</span>
            </button>
          </div>
          <div *ngIf="item.navItems == null">
            <button mat-menu-item routerLink="/{{item.path}}">
              <mat-icon *ngIf="item.iconName">{{item.iconName}}</mat-icon>
              <span class="sidebar-displayname">{{item.displayName}}</span>
            </button>
          </div>
          <navbar-item #subMenu [items]="item.navItems"></navbar-item>

        </mat-list-item>
        </div>

        <!-- need to figure out how to make [matMenuTriggerFor] directive conditional ? -->
        <!--<hr />
        <mat-list-item *ngFor="let item of items">
          <div *ngIf="item.navItems != null">
            <button mat-menu-item [matMenuTriggerFor]="subMenu2.childMenu">
              <mat-icon *ngIf="item.iconName">{{item.iconName}}</mat-icon>
              <span class="sidebar-displayname">{{item.displayName}}</span>
            </button>
            <navbar-item #subMenu2 [items]="item.navItems"></navbar-item>
          </div>
          <div *ngIf="item.navItems == null">
            <button mat-menu-item routerLink="/{{item.path}}">
              <mat-icon *ngIf="item.iconName">{{item.iconName}}</mat-icon>
              <span class="sidebar-displayname">{{item.displayName}}</span>
            </button>
          </div>
        </mat-list-item>-->




      </mat-nav-list>

    </mat-sidenav>


    <mat-sidenav-content measureScrollOffset="left">
      <mat-toolbar>
        <mat-toolbar-row>
          <mat-slide-toggle (click)="toggleSidenav($event, sidenav)"></mat-slide-toggle>
          <span class="mat-toolbar-spacer"></span>
          <mat-chip-list>
            <mat-chip>Papadum</mat-chip>
            <mat-chip>Naan</mat-chip>
            <mat-chip>Dal</mat-chip>
          </mat-chip-list>
        </mat-toolbar-row>
      </mat-toolbar>

      <div class="container-fluid layout-sidebar-content">
        <router-outlet></router-outlet>
      </div>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
