<h1>Dashboard Component</h1>

<mat-grid-list cols="2" rowHeight="1:1" gutterSize="25">
  <mat-grid-tile>
    <mat-grid-tile-header>
      header
    </mat-grid-tile-header>
    <mat-grid-tile-footer>
      footer
    </mat-grid-tile-footer>

  </mat-grid-tile>
  <mat-grid-tile>
    <div style="display: block; height: 300px; width: 100%; border: solid 1px red">

    </div>

  </mat-grid-tile>
  <mat-grid-tile>
    <div style="display: block; height: 300px; width: 100%; border: solid 1px red">

    </div>
  </mat-grid-tile>
  <mat-grid-tile>
    <div style="display: block; height: 300px; width: 100%; border: solid 1px red">

    </div>
  </mat-grid-tile>
</mat-grid-list>
