<div class="layout-sidebar">
  <mat-sidenav-container>
    <mat-sidenav #sidenav mode="side" opened>
      <div *ngFor="let item of items">
        <button mat-button routerLink="/{{item.path}}" [matMenuTriggerFor]="subMenu.childMenu">
          <mat-icon *ngIf="item.displayIcon">{{item.displayIcon}}</mat-icon> {{item.displayText}}
        </button>

        <navbar-item #subMenu [items]="item.children"></navbar-item>
      </div>
    </mat-sidenav>

    <mat-sidenav-content measureScrollOffset="left">
      <div class="layout-sidebar-header">
        <button class="btn-toggle" mat-flat-button color="primary" (click)="toggleSidenav($event, sidenav)"><mat-icon>menu</mat-icon></button>
      </div>

      <div class="container-fluid layout-sidebar-content">
        <router-outlet></router-outlet>
      </div>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
