<button mat-icon-button [matMenuTriggerFor]="menu">
  <mat-icon>more_vert</mat-icon>
</button>
<mat-menu #menu="matMenu">
  <button mat-menu-item (click)="onDetailsClick($event)">
    <mat-icon>pageview</mat-icon>
    <span>Details</span>
  </button>
  <button mat-menu-item (click)="onEditClick($event)">
    <mat-icon>edit</mat-icon>
    <span>Edit</span>
  </button>
  <button mat-menu-item (click)="onDeleteClick($event)">
    <mat-icon>delete</mat-icon>
    <span>Delete</span>
  </button>
</mat-menu>
