<mat-menu #childMenu="matMenu" [overlapTrigger]="true">
  <span *ngFor="let child of items">
    <span *ngIf="child.navItems && child.navItems.length > 0">
      <button mat-menu-item color="primary" [matMenuTriggerFor]="menu.childMenu">
        <mat-icon *ngIf="child.iconName">{{child.iconName}}</mat-icon>
        <span>{{ child.displayName }}</span>
      </button>
      <navbar-item #menu [items]="child.navItems"></navbar-item>
    </span>
    <span *ngIf="!child.navItems || child.navItems.length === 0">
      <button mat-menu-item (click)="child.onClick();">
        <mat-icon *ngIf="child.iconName">{{child.iconName}}</mat-icon>
        <span>{{ child.displayName }}</span>
      </button>
    </span>
  </span>
</mat-menu>

