<mat-menu #childMenu="matMenu" [overlapTrigger]="false">
  <span *ngFor="let child of items">
    <span *ngIf="child.navItems && child.navItems.length > 0">
      <button mat-menu-item [matMenuTriggerFor]="menu.childMenu">
        <mat-icon *ngIf="child.iconName">{{child.iconName}}</mat-icon>
        <span>{{ child.displayName }}</span>
      </button>
    </span>
    <span *ngIf="!child.navItems || child.navItems.length === 0">
      <button mat-menu-item routerLink="/{{child.path}}">
        <mat-icon *ngIf="child.iconName">{{child.iconName}}</mat-icon>
        <span>{{ child.displayName }}</span>
      </button>
    </span>

    <navbar-item #menu [items]="child.navItems"></navbar-item>
  </span>
</mat-menu>

